<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991272381557-vkelclr9gqeqp392n0aa4dl9nkkqacge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991272381557-vkelclr9gqeqp392n0aa4dl9nkkqacge</string>
	<key>API_KEY</key>
	<string>AIzaSyCL3zPxR-NUqt02BmU6IYgdE6yVr7NckPY</string>
	<key>GCM_SENDER_ID</key>
	<string>991272381557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bccfilkom.ShareStory</string>
	<key>PROJECT_ID</key>
	<string>sharestory-server</string>
	<key>STORAGE_BUCKET</key>
	<string>sharestory-server.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991272381557:ios:d56fa64eba5e4160845c3c</string>
	<key>DATABASE_URL</key>
	<string>https://sharestory-server.firebaseio.com</string>
</dict>
</plist>